#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navLink, .navLink:visited {
  font-size: 1.7rem;
  text-decoration: none;
  color: blue;
}

.taskNav {
  display: flex;
  justify-content: center;
  gap: 40px;
}